/* その場で */
.fadeIn1{
    animation-delay: 0.5s;
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
}

.fadeIn2{
    animation-delay: 1s;
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeInAnime{
    from {
    opacity: 0;
    }

    to {
    opacity: 1;
    }
}
    
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.fadeInTrigger{
    opacity: 0;
}